body {
	margin: 0;
	height: 100%:
}

#main {
	display: grid;
	height: 100%;
	grid-template-columns: 100px 1fr 300px;
	grid-template-rows: 1fr 100px;
	grid-template-areas:
		"chats messages users"
		"chats text users";
}

#chats {
	background-color: teal;
	grid-area: chats;
}

#messages {
	background-color: blue;
	grid-area: messages;
}

#text {
	background-color: red;
	grid-area: text;
}

#users {
	background-color: green;
	grid-area: users;
}
